<h1>Bonjour,</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{#{{ url('confirme_compte', {"token": token}) }}#}">Cliquez pour activer votre compte</a>.
</p>

<p>A bientot!</p>