{% extends 'base.html.twig' %}

                {% block stylesheets %}
                    <link rel="stylesheet" href="{{ asset('/css/header.css') }}"/>
                {% endblock %}

{% block body %}
<div class="container-fluid">
    <footer class="row border border-dark-top-solid-1px">
        <div class="titre">Hotel Hypnose
        
        </div>    
     </footer>
</div>
{% endblock %}